# Ignore user-specific files
/Cache/PSItemCache.json
/Documentation/U_MS_SQL_Server_2016_Database_STIG_V2R7_Manual-xccdf.xml
/Documentation/U_MS_SQL_Server_2016_Instance_STIG_V2R10_Manual-xccdf.xml
/Sources/host_access_rules.csv

# Ignore logs
/PSSTIGDATA/
/STIGVIEWERDATA/